.box-results {
	display: flex;
	flex-wrap: wrap;
	
	margin-left: auto;
    margin-right: auto;
    width: 72rem;
    margin-top: 3rem;
}
.box-results h1{
width: 50hv;
height: 50vh;
}

.box-results .card {
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.box-results .card img {
	display: block;
    width: 100%;
	height: 100%;
	max-width: 250px;
}

.box-results .card h3 {
    color: rgb(0, 0, 0);
    margin-top: 0;
	font-size: 20px;
	font-weight: 600;
	max-width: 250px;
	padding: 10px;
}
