.details{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;

    overflow-y: scroll;
}
.details .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.details .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.details .content .score{
	margin-bottom: 30px;
}

.details .content .plot{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.details .content img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.details .content p {
	flex: 1 1 50%;
	padding: 15px;
}

.details .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;

	background: #4484C4;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;

	transition: 0.4s ease-out;
}

.details .close:hover {
	background: #223343;
}