.search-box{
    width: 100%;
}
.search-box input{
    outline: 0;
    width: 55rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background:#0000001b  ;
    border-color: #00000064;

}
.search-box input:focus{
    background:#0000002c ;
}